<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<body>
<html>
<nav>
  <ul>
    <li><a href="/">Home</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/chatroom">Chatroom</a></li>   
    <li><a href="/game">Play</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li> 
    <li><a href="/myaccount">My Account</a></li>  
    </ul>
  </nav>
<html>
  {% if 'username' in session %}        
  You are logged in as {{session['username']}}!
  
  {% else %}
  You are currently logged out! You need to log in to use the chat.
  
  {% endif %}

<h1> Chatroom </h1>

<h3> Please be civilised! Inappropriate behaviour is forbidden. Repeated offenders will be punished! </h3>

<ul>
  {% for post in posts %}
  <li><img src="{{post[picture]}}" class="profilepic"><b>{{post['username']}}:</b> {{post['message']}} </li>
  {% endfor %}
</ul>

<form action="/create_post" method="post">
<input type="text" name="message">
<input type="submit">
</form>
<p>
<b>{% if 'username' not in session %}        
You aren't logged in! You can't use the chat while signed out!
{% endif %}</b>
</p>

  <iframe src="/static/breeze.mp3" allow="autoplay" style="display:none" id="iframeAudio" loop>
</iframe> 
</body>
</html>