<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<body>
<html>
<nav>
  <ul>
    <li><a href="/">Home</a></li> 
    <li><a href="/login">Login</a></li>  
  <li><a href="/chatroom">Chatroom</a></li>   
    <li><a href="/leaderboard">Leaderboard</a></li>   
    </ul>
  </nav>
<html>

  {{session['username']}}

<h1> Chatroom </h1>

<h3> Please be civilised! Inappropriate behaviour is forbidden. Repeated offenders will be punished! </h3>

<ul>
  {% for post in posts %}
  <li><b>{{post['username']}}:</b> {{post['message']}} </li>
  {% endfor %}
</ul>

<form action="/create_post" method="post">
<input type="text" name="message">
<input type="submit">
</form>


</body>
</html>