<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<html>
<head>
  <style>
    html{
      height: 100%;
    }
    body{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .game{
      flex-grow: 1;
      width: 100%;
    }
  </style>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/chatroom">Chatroom</a></li>
    <li><a href="/game">Play</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
    <li><a href="/myaccount">My Account</a></li>
    </ul>
</nav>
<iframe class="game" src="https://balloonclickerblitz.netlify.app/" height="200" width="300" title="Iframe Example"></iframe>
</body>
</html>

 You are logged in as {{session['username']}}!
