<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<body>
<html>
<nav>
  <ul>
    <li><a href="/">Home</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/chatroom">Chatroom</a></li>   
    <li><a href="/game">Play</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li> 
    <li><a href="/myaccount">My Account</a></li>  
    </ul>
  </nav>
<html>
    {% if 'username' in session %}        
    You are logged in as {{session['username']}}!
    
    {% else %}
    You are currently logged out!
    
    {% endif %}


 You are logged in as {{session['username']}}!