<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<html>
<head>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/chatroom">Chatroom</a></li>
    <li><a href="/game">Play</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
    <li><a href="/myaccount">My Account</a></li>
    </ul>
  </nav>

<iframe src="https://balloonclickerblitz.netlify.app/" height="200" width="300" title="Iframe Example"></iframe>


{% if 'username' in session %}        
You are logged in as {{session['username']}}!

{% else %}
You are currently logged out!

{% endif %}
</body>
</html>

