<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<body>
<html>
    <nav>
        <ul>
          <li><a href="/">Home</a></li> 
          <li><a href="/login">Login</a></li>  
        <li><a href="/chatroom">Chatroom</a></li>   
          <li><a href="/leaderboard">Leaderboard</a></li>   
          </ul>
        </nav>

{{session['username']}}

<h1>Welcome to Balloon Clicker Blitz Online!</h1>
<p>We hope you have a great time playing our game. To play Balloon Clicker Blitz, click<a href="/play"> Play</a>.</p>
<p>If you want to chat to other members of the Balloon Clicker Blitz community, click<a href="/chatroom"> Chatroom</a>.</p>
<p>To check what the latest high scores are, Click <a href="/leaderboard"> Leaderboard</a>.</p>
