<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<body>
<html>
    <nav>
        <ul>
          <li><a href="/">Home</a></li> 
          <li><a href="/login">Login</a></li>  
        <li><a href="/chatroom">Chatroom</a></li>   
          <li><a href="/leaderboard">Leaderboard</a></li>   
          </ul>
        </nav>

{% if 'username' in session %}        
Welcome back, {{session['username']}}!

{% else %}
You are currently logged out! 

{% endif %}

<h1>Welcome to Balloon Clicker Blitz Online!</h1>
<p>We hope you have a great time playing our game. To play Balloon Clicker Blitz, click<a href="/game"> Play</a>.</p> <img src="/static/cake.png" alt="Balloons" style="float:right;width:250px;height:300px;">
<p>If you want to chat to other members of the Balloon Clicker Blitz community, click<a href="/chatroom"> Chatroom</a>.</p>
<p>To check what the latest high scores are, Click <a href="/leaderboard"> Leaderboard</a>.</p>
<p>Balloon Clicker Blitz Online accounts can be customised using the <a href="/myaccount">My Account</a> page.</p></p>