<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<body>
<html>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/chatroom">Chatroom</a></li>
      <li><a href="/game">Play</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/myaccount">My Account</a></li>
      </ul>
    </nav>

    {% if 'username' in session %}        
    You are logged in as {{session['username']}}!
    
    {% else %}
    You are currently logged out! 
    
    {% endif %}

<h1>Leaderboard</h1>
<h3>Share your best scores and compare them to other users from across the world!</h3>