<link type="text/css" rel="stylesheet" href="static/stylesheet.css">
<body>
<html>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/chatroom">Chatroom</a></li>
      <li><a href="/game">Play</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/myaccount">My Account</a></li>
      </ul>
    </nav>
<h1>Log in</h1>

{% if 'username' in session %}        
Hey, you are already logged in, {{session['username']}}! Disregard this message if you are logging into another account.
{% endif %}
<p> </p>
<h1> </h1>
<form action="/login_post" method="post">
Username: <input type="text" name="username">
Password: <input type="password" name="password">
  <input type="submit">

</form>

<form action="/logout" method="get">
  <input type="submit" value="Logout">

</form>